
{% include '../header.html' %}
{% load static %}

<!-- {% block title %}Room{% endblock %} -->
{% load humanize %}
   

    <div class="col-sm-6 col-xl-3 p-4 ">
        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
            <div class="ms-3">
                <p class="mb-2">Số phòng</p>
                <h6 class="mb-0">{{ data|length }}</h6>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table text-start align-middle table-bordered table-hover mb-0">
            <thead>
                <tr class="text-dark">
                    <th scope="col"><input class="form-check-input" type="checkbox"></th>
                    <th scope="col">Mã phòng</th>
                    <th scope="col">Trạng Thái</th>
                    <th scope="col">Số Lượng</th>
                    <th scope="col">Loại Phòng</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Tên Toà Nhà</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for phong in data%}
                <tr>
                    <td><input class="form-check-input" type="checkbox"></td>
                    <td>{{ phong.MaPhong }}</td>
                    <td>{{ phong.TrangThai }}</td>
                    <td> <a href="">{{ phong.count }} / {{ phong.SoluongSV }}</a> </td>
                    <td>{{ phong.LoaiPhong }}</td>
                    <td>{{ phong.Gia }}</td>
                    <td>{{ phong.TenToaNha }}</td>
                    <td><a class="btn btn-sm btn-primary" href="/phong/{{phong.id}}">Update</a></td>

                </tr>
                
                {% endfor %}
            </tbody>
        </table>
        <div th:if="${totalPages > 1}">
            <nav>
                <ul class="pagination justify-content-center flex-wrap">
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="~{fragments :: page_link(${moduleURL}, 1, 'First')}"></a>
                    </li>
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="~{fragments :: page_link(${moduleURL}, ${currentPage - 1}, 'Previous')}"></a>
                    </li>
    
                    <li th:class="${currentPage != i ? 'page-item': 'page-item active'}"
                        th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <a th:replace="~{fragments :: page_link(${moduleURL}, ${i}, ${i})}"></a>
                    </li>
    
                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="~{fragments :: page_link(${moduleURL}, ${currentPage + 1}, 'Next')}"></a>
                    </li>
    
                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="~{fragments :: page_link(${moduleURL}, ${totalPages}, 'Last')}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

{% include '../footer.html' %}




       