{% include '../header.html' %}
{% load static %}


<!-- {% block title %}Room{% endblock %} -->
   


    <form action="/phong/{{ data.id }}/" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label  class="form-label">Ma phong</label>
            <input type="text" class="form-control"
                    name="MaPhong" value="{{ data.MaPhong }}">
        </div>
        <div class="mb-3">
            <label  class="form-label">So Luong SV</label>
            <input type="text" class="form-control" name="SoluongSV" value="{{ data.SoluongSV}}">
        </div>
        <div class="mb-3">
            <label  class="form-label">Loai Phong</label>
            <input type="text" class="form-control" name="LoaiPhong" value="{{ data.LoaiPhong }}">
        </div>
        <div class="mb-3">
            <label  class="form-label">Gia</label>
            <input type="text" class="form-control" name="Gia" value="{{ data.Gia }}">
        </div>
        <div class="mb-3">
            <label  class="form-label">Ten Toa Nha</label>
            <input type="text" class="form-control" name="TenToaNha" value="{{  data.TenToaNha }}">
        </div>

        <button type="submit" class="btn btn-primary"  name="updatedata">Update</button>
    </form>
    {% include '../footer.html' %}