{% load static %} {% include 'header.html' %}
<form action="/sinhviens/add/" method="post" class="col-sm-12 col-xl-10 mt-5">
    {% csrf_token %}
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Thông tin sinh viên</h6>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="hoten" />
            <label for="floatingInput">Họ và tên</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="mssv" />
            <label for="floatingInput">MSSV</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" name="email" />
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="diachi" />
            <label for="floatingInput">Địa chỉ</label>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" name="gioitinh" aria-label="Giới tính">
                <option value="1">Nam</option>
                <option value="0">Nữ</option>
            </select>
            <label for="floatingSelect">Giới tính</label>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" name="maphong">
                {% for phong in phongs %}
                <option value="{{phong.id}}">Phòng {{phong.MaPhong}}</option>
                {% endfor%}
            </select>
            <label for="floatingSelect">Phòng</label>
        </div>

        <div class="form-floating mb-3">
            <input type="date" class="form-control" name="ngaysinh" />
            <label for="floatingInput">Ngày sinh</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="sodienthoai" />
            <label for="floatingInput">Số điện thoại</label>
        </div>

        <button type="submit" class="btn btn-primary">Thêm</button>
    </div>
</form>

{% include 'footer.html' %}
