{% load static %}
{% include 'header.html' %}

<div class="container-fluid pt-4 px-4" style="padding-left: 0 !important;">
    <div class="bg-light rounded p-4">
        <div class="text-center" style="margin-bottom: 20px !important;">
            <h6 class="mb-0">{{title}}</h6>
        </div>
        {% if message != null %}
            <div class="mb-3 text-center" style="color: red">
                <p>{{message}}</P>
            </div>    
        {% endif %}
        <form action="{% url 'change_password' %}" method="post" style="padding: 0 200px !important;">
            <div class="mb-3">
                <labe class="form-label">Nhập lại mật khẩu cũ</label>
                <input type="password" class="form-control" id="password_older" name="password_older" >
            </div>
            <div class="mb-3">
                <labe class="form-label">Mật khẩu mới</label>
                <input type="password" class="form-control" id="new_password" name="new_password">
            </div>
            <div class="mb-3">
                <labe class="form-label">Nhập lại mật khẩu mới</label>
                <input type="password" class="form-control" id="repeat_new_password" name="repeat_new_password">
            </div>
            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-primary" style="margin-left: 30px">Submit</button>
            </div>
            {% csrf_token %}
            </form>
        </div>
    </div>
</div>

    
{% include 'footer.html' %}
