{% include 'header.html' %}

<div class="container-fluid pt-4 px-4" style="padding-left: 0 !important;">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0"></h6>Hợp Đồng</h6>
                <form class="d-none d-md-flex ms-4" action="/hopdong_searched" method="POST">
                <input type="search" name="txt" class="form-control">
                <select class="form-control" name="status">                        
                    <option value="">-- ! --</option>
                    <option value="1">Hoàn tất</option>
                    <option value="0">Chưa</option>                        
                </select>
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                    &nbsp;&nbsp;
                    <button type="reset" class="btn btn-secondary">
                        <i class="fas fa-eraser"></i>
                    </button>
                    {% csrf_token %}
                </form>
            </div>
            <a class="btn btn-sm btn-info" href="/themhopdong/">Thêm Hợp Đồng</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">STT</th>
                        <!-- <th scope="col">Mã Hợp Đồng</th> -->
                        <th scope="col">Ngày bắt đầu</th>
                        <th scope="col">Ngày kết thúc</th>
                        <th scope="col">Giá tiền</th>
                        <th scope="col">Trạng thái thanh toán</th>
                        <th scope="col">Sinh viên thuê</th>
                        <th scope="col">Quản lí</th>
                        <!-- <th scope="col">Phòng</th> -->
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for constract in constract_list %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{constract.NgayBatDau}}</td>
                        <td>{{constract.NgayKetThuc}}</td>
                        <td>{{constract.GiaTien}}</td>
                        <td>{% if constract.TrangThaiThanhToan == True %} Hoàn tất {% else %} Chưa {% endif %}</td>
                        <td>{{constract.MSSV.HoTen}}</td>
                        <td>{{constract.MaQuanLi.HoTen}}</td>
                        <!-- <td>{{constract.MaPhong.MaPhong}}</td> -->
                        <td><a class="btn btn-sm btn-primary" href="/suahopdong/{{constract.id}}">Sửa</a></td>
                        <td><a class="btn btn-sm btn-danger" href="/hopdong_delete/{{constract.id}}">Xóa</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div th:if="${totalPages > 1}">
        <nav>
            <ul class="pagination justify-content-center flex-wrap">
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: page_link(${moduleURL}, 1, 'First')}"></a>
                </li>
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: page_link(${moduleURL}, ${currentPage - 1}, 'Previous')}"></a>
                </li>

                <li th:class="${currentPage != i ? 'page-item': 'page-item active'}"
                    th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:replace="~{fragments :: page_link(${moduleURL}, ${i}, ${i})}"></a>
                </li>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: page_link(${moduleURL}, ${currentPage + 1}, 'Next')}"></a>
                </li>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: page_link(${moduleURL}, ${totalPages}, 'Last')}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- Recent Sales End -->

{% include 'footer.html' %}