{% load static %}
{% include 'header.html' %}

<div class="container-fluid pt-4 px-4">
    <div class="col-sm-12 col-xl-12">
        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
            <img
                src="{% static '/img/dhbk.jpeg' %}"
                style="width: 100%;"
            />
        </div>
    </div>
    <div class="col-sm-12 col-xl-12">
        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
            <img
                src="{% static '/img/congktx.jpg' %}"
                style="width: 100%;"
            />
        </div>
    </div>
    <div class="col-sm-12 col-xl-12">
        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
            <img
                src="{% static '/img/phong.webp' %}"
                style="width: 100%;"
            />
        </div>
    </div>
</div>

</div>
<!-- Content End -->

{% include 'footer.html' %}
