{% load static %} {% include 'header.html' %}

<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Số sinh viên</p>
                    <h6 class="mb-0">{{totalSinhvien}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sale & Revenue End -->

<div class="d-flex align-items-center justify-content-between mb-4 mt-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <form class="d-none d-md-flex ms-4" action="" method="GET">
            <input value="{{keyword}}" type="search" name="q" class="form-control" />
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
            &nbsp;&nbsp;
            <button type="reset" class="btn btn-secondary">
                <i class="fas fa-eraser"></i>
            </button>
            {% csrf_token %}
        </form>
    </div>
    <a class="btn btn-sm btn-primary me-4" href="/sinhviens/add">Thêm sinh viên</a>
</div>

<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Sinh viên</h6>
            <a href="">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">MSSV</th>
                        <th scope="col">Họ và tên</th>
                        <th scope="col">Giới tính</th>
                        <th scope="col">Địa chỉ</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phòng</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for sinhvien in sinhviens %}
                    <tr>
                        <td>{{sinhvien.MSSV}}</td>
                        <td>{{sinhvien.HoTen}}</td>
                        {% if sinhvien.GioiTinh %}
                        <td>Nam</td>
                        {% else %}
                        <td>Nu</td>
                        {% endif %}
                        <td>{{sinhvien.DiaChi}}</td>
                        <td>{{sinhvien.Email}}</td>
                        <td>{{sinhvien.SoDienThoai}}</td>
                        <td>{{sinhvien.MaPhong.MaPhong}}</td>
                        <td>
                            <a class="btn btn-sm btn-primary" href="/sinhviens/{{sinhvien.id}}"
                                >Update</a
                            >
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if totalPage > 1 %}
        <div class="mt-3">
            <nav>
                <ul class="pagination justify-content-center flex-wrap">
                    <li class="page-item {% if page > 1 %} {% else %} disabled {% endif %}">
                        <a class="page-link" href="/sinhviens/">First</a>
                    </li>
                    <li class="page-item {% if page > 1 %} {% else %} disabled {% endif %}">
                        <a class="page-link" href="/sinhviens/?page={{page|add:-1}}">Previous</a>
                    </li>

                    {% for i in numbers %}
                    <li class="page-item {% if page != i %} {% else %} active {% endif %}">
                        <a class="page-link" href="/sinhviens/?page={{i}}">{{i}}</a>
                    </li>
                    {% endfor %}

                    <li class="page-item {% if page < totalPage %} {% else %} disabled {% endif %}">
                        <a class="page-link" href="/sinhviens/?page={{page|add:1}}">Next</a>
                    </li>
                    <li class="page-item {% if page < totalPage %} {% else %} disabled {% endif %}">
                        <a class="page-link" href="/sinhviens/?page={{totalPage}}">Last</a>
                    </li>
                </ul>
            </nav>
        </div>
        {% endif %}
    </div>
</div>
<!-- Recent Sales End -->
{% include 'footer.html' %}
